@media screen and (max-width: 768px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:rgb(212, 74, 115) !important;
    border: 2px solid #000;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  .mobile-background {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background.png');
  }
  .mobile-background2 {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background2.png');
    margin-top: 50px;
  }
  .mobile-background3 {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background3.png');
    margin-top: 50px;
  }
  .mobile-background4 {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background4.png');
    margin-top: 50px;
  }
  .mobile-background5 {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background5.png');
    margin-top: 50px;
  }
  .mobile-background6 {
    width: 100%;
    overflow: hidden;
    background-image: url('../Mobile/Images/mobile_background6.png');
    margin-top: 50px;
  }
  .mi {
    max-width: 300px;
    display: block;
    margin: auto;
    padding-top: 100px;
  }
  .im {
    max-width: 300px;
    display: block;
    margin-right: auto;
    padding-top: 100px;
    padding-left: 20px;
  }
  .tagline {
    color: rgb(212, 74, 115);
    margin-left: 196px;
  }
  img.mai {
    max-width: 300px;
    display: block;
    margin: 50px auto;
  }
  .mvc {
    display: flex;
    align-items: center;
  }
  img.mvi {
    max-width: 200px;
    display: block;
    margin: 50px auto;
    padding-left: 30px;
  }
  img.miv {
    max-width: 200px;
    margin-top: 30px;
  }
  .mcv {
    display: grid;
  }
  img.idea-img {
    max-width: 300px;
    display: block;
    margin-left: auto;
  }
  .mt {
    width: 60%;
    margin-top: 20px;
  }
  .mobileexplore-button {
    margin-top: -81px;
    margin-left: 180px;
    margin-bottom: 40px;
  }
  img.mbsc {
    margin-left: 50px;
    margin-top: 20px;
  }
  img.mcmc {
    margin: 20px auto;
    display: block;
  }
  .homeCards .card {
    width: 18rem !important;
    padding: 0px !important;
    border: none;
    margin-top: 50px !important;
    border-radius: 25px;
    display: block;
    margin: auto;
  }
  a.mobileec{
    
    border: 1px solid #c3729d;
    font-weight: 500;
    text-decoration: none;
    color: #c3729d;
    text-align: center;
    font-size: 19px;
    display: block;
    max-width: 350px;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.719) ;
  }
  .css-12yy2iw-TimelineItemContentWrapper {
    align-items: flex-start;
    background: none !important;
    border-radius: 4px;
    display: flex;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5em;
    min-height: 200px;
    position: relative;
    text-align: left;
    width: 98%;
    z-index: 0;
  }
}

@media screen and (max-width: 480px) {
  .tagline {
    color: rgb(212, 74, 115);
    margin-left: 32px;
  }
  .mvc {
    display: grid;
  }
  img.miv {
    max-width: 167px;
    margin-top: 50px;
    padding-left: 10px;
  }
  .mobileexplore-button {
    margin-top: -66px;
    margin-left: 97px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 412px) {
  .tagline {
    color: rgb(212, 74, 115);
    margin-left: 46px;
  }
}

.dropup .dropdown-toggle::after {
  display:none !important;
}
.mobileview-explore{
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.burger{
  background-color: rgba(255, 255, 255, 0.856) !important;
  border-color: #C3729D !important;
  color:#C3729D!important;

}
.nav-link{
  color: #C3729D!important;
}