/* NAVBAR */
img.course-img {
  max-width: 150px;
}

/* COURSES */
.training-heading {
  margin-left: 80px;
}
.training-area {
  border-bottom: 1px solid #ffffff;
}
.fliter-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}
.btn-group {
  margin-left: 10px;
}
.training-section {
  padding: 19px 10px;
  background-image: linear-gradient(#F2C8D5, #ffffff);
}

@media screen and (max-width: 480px) {

}
