.homeCards .card {
  width: 18rem !important; 
  padding: 0px !important;
  border: none;
  margin-top: 50px !important;
  border-radius: 5px;
  margin-right: 40px;
  margin-left: 60px;
}


img.icon {
  width: 28%;
  background: #333333;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: -27%;
  border: none;
  z-index: 1;
}
.active-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.st {
  top: -20%;
  right: 0;
  padding-left: 50px;
  padding-top: 10px;
  width: 80%;
  height: 20%;
  background-color: #9268A7;
  color: #ffffff;
  font-size: 17px;
  position: absolute;
}
.duration {
  display: flex;
  justify-content: space-between;
}
.levels {
  display: flex;
}
.level-item {
  color: #fed3b2;
}
.level-items {
  color: #cccc;
}
