.home-footer-link {
  display: flex;
  justify-content: center;
}
li.HLI {
  margin-left: 20px;
  list-style: none;
  color: #d44a73;
  font-size: 17px;
}
.home-footer-social-link-items {
  text-align: center;
  font-size: 25px;
}
a.home-footer-social-link-item {
  margin-left: 20px;
  color: #d44a73;
}
a.home-footer-social-link-item:hover {
  color: #d44a73;
}
