@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.similar-sliders {
  margin-top: 36px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
}
.st-heading {
  background: #9268A7;
  color: #fff;
  border-top-right-radius: 5px;
}
.waiting-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fb8b03;
}
img.mentor-img {
  position: absolute;
  top: 35%;
  left: 10px;
  width: 20%;
  border: 1px solid;
  background: #333333;
  border-radius: 50px;
  z-index: 1;
}
.mentor-name {
  background: #9268A7;
  position: absolute;
  top: 45%;
  right: 0;
  width: 85%;
}
.link-item {
  font-size: 40px;
  margin-left: 5px;
  color: #ffff;
  transition: 0.5s;
}
.link-item:hover {
  color: #ffff;
}
