.card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff !important;
  background-clip: border-box;
  border: 3px solid rgba(255, 8, 8, 0.125);
  border-radius: 5px !important;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.content-area {
  padding: 40px 40px;
  margin: 80px 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-width: 2px;
  border-color: #9268A7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
iframe.video {
  display: block;
  margin: 18px auto;
}
.content {
  margin-top: 50px;
}
.estimate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
img.ii {
  width: 35%;
  background-color: #333333;
  border-radius: 50px;
  border: none;
}
.img-text {
  display: flex;
  align-items: center;
}
.imgimg {
  position: absolute;
  top: -12%;
  left: -23px;
  z-index: 1;
}
.ST {
  border-width: 1px;
  border-color: #333333;
  position: absolute;
  top: -9%;
  background: #9268A7;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto; 
  margin-right: 0;
  color: #ffffff;
  width: 100%;
  right: 0;
}
button.enroll {
  border-width: 2px;
  border-color: #333333;
  margin-top: 20px;
  width: 200px;
  padding: 14px;
  font-size: 17px;
  background-color: #ffffff;
  color: #333333;
  cursor: default !important;
}
button:hover {
  color: #333333;
  box-shadow: 0px 0px 12px 5px #e0e0e0;
}
.tt {
  width: 60%;
  color: #333333;
  font-size: 20px;
}
.tac {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  justify-content: space-between;
}
p.cc-d {
  margin-left: -20px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .content-area {
    padding: 40px 40px;
    margin: 80px 25px;
    background-color: #fff;
    position: relative;
    border-width: 2px;
    border-color: #9268A7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .tt {
    width: 70%;
    color: #333333;
  }
}

@media screen and (max-width: 1024px) {
  .tac {
    display: grid;
  }
  p.cc-d {
    margin-left: -20px;
    width: 100%;
    text-align: left;
  }
  .similar-sliders {
    margin-top: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 10px;
    margin-left: -45px;
  }
  .tt {
    width: 60%;
    color: #333333;
  }
}

@media screen and (max-width: 912px) {
  .homeCards .card {
    width: 18rem !important;
    padding: 0px !important;
    border: none;
    margin-top: 50px !important;
    border-radius: 2px;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 540px) {
  .tt {
    width: 100%;
    color: #333333;
  }
  .similar-sliders {
    margin-top: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 10px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  iframe.video {
    margin-left: -35px;
    margin-top: 20px;
  }
  p.cc-d {
    font-size: 13px;
  }
  .content-area {
    padding: 40px 40px;
    margin: 80px 10px;
    background-color: #fff;
    position: relative;
    border-width: 2px;
    border-color: #9268A7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .imgimg {
    position: absolute;
    top: -7%;
    left: -23px;
    z-index: 1;
  }
  .ST {
    position: absolute;
    top: -9%;
    background: #9268A7;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    width: 100%;
    right: 0;
  }
  .tt {
    width: 100%;
    color: #333333;
  }
}
@media screen and (max-width: 390px) {
  iframe.video {
    margin-left: -50px;
    margin-top: 20px;
    max-width: 250px;
  }
}

@media screen and (max-width: 280px) {
  iframe.video {
    margin-left: -30px;
    width: 220px !important;
  }
  button.enroll {
    margin-top: 20px;
    width: 200px;
    padding: 14px;
    font-size: 17px;
    background-color: #ffffff;
    margin-left: 0px !important;
    color: #333333;
    border: none;
    cursor: default !important;
  }
  .content-area {
    padding: 40px 12px !important;
    margin: 80px 10px;
    background-color: #fff;
    position: relative;
    border-width: 2px;
    border-color: #9268A7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}
