.card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 25px !important;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.content-area {
  padding: 40px 40px;
  margin: 80px 60px;
  background-color: #fff;
  position: relative;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
iframe.video {
  display: block;
  margin: 21px auto;
}
.content {
  margin-top: 30px;
}
.estimate {
  display: flex;
  justify-content: space-between;
}
img.ii {
  width: 30%;
  background-color: #fff;
  border-radius: 50px;
  border: none;
}
.img-text {
  display: flex;
  align-items: center;
}
.imgimg {
  position: absolute;
  top: -12%;
  left: -23px;
  z-index: 1;
}
.ST {
  position: absolute;
  top: -9%;
  background: #d44a73;
  padding-left: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  width: 100%;
  right: 0;
}
button.enroll {
  margin-top: 20px;
  width: 200px;
  padding: 14px;
  font-size: 17px;
  background-color: #d44a73;
  color: #fff;
  border: none;
  cursor: default !important;
}
button:hover {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .content-area {
    padding: 40px 40px;
    margin: 80px 25px;
    background-color: #fff;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

@media screen and (max-width: 480px) {
  iframe.video {
    margin-left: -52px;
  }
  .content-area {
    padding: 40px 40px;
    margin: 80px 10px;
    background-color: #fff;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .imgimg {
    position: absolute;
    top: -7%;
    left: -23px;
    z-index: 1;
  }
  .ST {
    position: absolute;
    top: -4%;
    background: #d44a73;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    width: 100%;
    right: 0;
  }
}

@media screen and (max-width: 280px) {
  iframe.video {
  margin-left: -30px;
    width: 220px !important;
  }
  button.enroll {
    margin-top: 20px;
    width: 200px;
    padding: 14px;
    font-size: 17px;
    background-color: #d44a73;
    margin-left: 0px !important;
    color: #fff;
    border: none;
    cursor: default !important;
  }
  .content-area {
    padding: 40px 12px !important;
    margin: 80px 10px;
    background-color: #fff;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}
