@font-face {
  font-family: "Myriad Pro";
  src: url('../src/Myriad\ Pro\ Regular.ttf');
}

/* contact */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #B3B3B3;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #B3B3B3 !important;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* NAVBAR*/

.container-fluid {
  max-width: 1120px;
  margin: 35px auto;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  font-family: 'Myriad Pro Semibold';
  font-weight: 700;
}
img.bg1 {
  width: 100%;
  object-fit: cover;
}
.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
li.nav-item {
  margin-left: 50px;
  margin-right: -35px;
}

/* HERO */
.hero-img {
  width: 68%;
}
img.hero {
  width: 100%;
  height: 85vh;
}
img.heading-img {
  width: 57%;
  margin-top: 15px;
  margin-left: -40px;
}
.para-text {
  text-align: center;
  width: 40%;
}
.hero-para {
  margin-top: 50px;
  font-family: 'Myriad Pro Semibold';
  font-weight: 500;
}
.explore-buttons {
  width: 300px;
  height: 200px;
  margin-left: 65%;
  margin-top: 490px; /* Can certainly be improved - define the margin on top of the Hero button */
}
a.btn {
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  background-color: #ffffff;
  color: #4D4D4D;
  cursor: default;
  transition: 0.5s;
}
a.btn:hover {
  color: #4D4D4D;
  box-shadow: 0px 0px 12px 5px #ffffff;
}

/* ABOUT */

.about-imgs {
  display: flex;
}
img.about-img {
  width: 100%;
  margin-top: -15px;
}
img.wi {
  width: 60%;
  margin-top: 180px;
  margin-left: -200px;
}
img.di {
  width: 100%;
}
.about-imgs {
  display: flex;
  justify-content: center;
  align-items: start;
}
.about-area {
  margin-left: 0px;
  margin-top: 12.8rem;
  border-left: 3px solid;
  padding-left: 20px;
}

.Questions {
  display: flex;
  justify-content: space-around;
}
.desktop-img {
  margin-top: -80px;
}
.abt{
  width: 70%;
}

/* VISION */

img.ei {
  width: 50%;
  display: block;
  margin-left: auto;
}
img.ei2 {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-top: 100px;
  margin-left: -70px;
}
img.ddi {
  width: 70%;
}
.dd-image {
  margin-top: 100px;
}
.drawing-desktop {
  display: flex;
  margin-top: 100px;
}
img.vi {
  width: 100%;
  display: grid;
  margin-top: 90px;
}
.dd-images {
  margin-top: -50px;
  margin-right: 30px;
}
.vision-content {
  margin-top: 105px;
  width: 80%;
}
.vision {
  margin-top: 50px;
}
img.idea-img {
  width: 100%;
  margin-left: 60px;
}
.vision-area {
  border-left: 3px solid;
  padding-left: 20px;
  margin-left: 0px;
  margin-top: 30px;
}

/* AVAILABLE TRAININGS */

.available-image {
  margin-top: 140px;
  margin-left: -90px;
}
img.ai {
  width: 90%;
}
.available-img {
  margin-left: -127px;
}
img.ia {
  width: 80%;
  margin-left: 50px;
}
.logos {
  position: absolute;
  left: -62px;
  top: 50px;
  transform: rotate(270deg);
}
h1.dm {
  font-size: 40px;
  font-weight: 700;
  color: #cccccc;
}
h1.bdg {
  position: absolute;
  left: -70px;
  transform: rotate(270deg);
  top: 40px;
  color: #cccccc;
  font-weight: 700;
}

/* PARTNERS */

img.PI {
  width: 40%;
  margin-top: 100px;
  margin-left: 20px;
}
.partners {
  display: flex;
  justify-content: center;
}
.partners-area {
  margin-top: 220px;
}
.partners-image {
  margin-top: 100px;
  margin-right: 40px;
}
img.pi {
  width: 100%;
}
img.partner {
  width: 100%;
  margin-left: 90px;
}
img.ei3 {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-top: 100px;
  margin-left: 0px;
}

/* ROADMAP */
.roadmap-area {
  margin-top: 110px;
}
img.road-mg {
  width: 55%;
}
img.rmi {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-top: 480px;
}

/* media qurey */

@media screen and (max-width: 1280px) {
  img.wi {
    width: 60%;
    margin-top: 140px;
    margin-left: -175px;
  }
  img.hero {
    width: 100%;
    height: 65vh;
  }
}

@media screen and (max-width: 1024px) {
  .explore-buttons {
    margin-left: 60px;
    margin-top: 10px;
  }
  img.hero {
    width: 100%;
    height: 63vh;
  }
  .container-fluid {
    max-width: 970px;
    margin: 70px auto;
  }

  img.heading-img {
    width: 40%;
    margin-left: 30px;
    margin-top: 14px;
    margin-right: auto;
  }
  img.ia {
    width: 100%;
    margin-left: -19px;
  }
  .para-text {
    text-align: center;
    width: 55%;
  }
  .available-image {
    margin-top: 140px;
    margin-left: 0px;
  }
  .available-img {
    margin-left: -20px;
    margin-top: 50px;
  }
  img.idea-img {
    width: 100%;
    margin-left: 30px;
  }
  img.wi {
    width: 60%;
    margin-top: 140px;
    margin-left: -175px;
  }
  img.partner {
    width: 100%;
    margin-left: 70px;
  }
}

@media screen and (max-width: 912px) {
  .hero-img {
    display: none;
  }
  img.heading-img {
    width: 57%;
    margin-top: -40px;
    margin-left: -40px;
  }
  .para-text {
    text-align: start;
    width: 80%;
  }
  .hero-para {
    margin-top: 20px;
    margin-left: -70px;
  }
  .explore-buttons {
    margin-left: 0px;
    margin-top: 30px;
  }
  .container-fluid {
    max-width: 780px;
  }
  .about-imgs {
    display: grid;
  }
  img.about-img {
    width: 100%;
    margin-top: 100px;
  }
  img.ei2 {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-top: 100px;
    margin-left: 0px;
  }
  .content-heading2 {
    margin-top: 186px;
  }
  .abt{
    width: 100%;
  }
  .desktop-img {
    margin-top: 0px;
  }
  img.wi {
    width: 90%;
    margin-top: 50px;
    margin-left: 0rem;
  }
  .drawing-desktop {
    display: grid;
    margin-top: 100px;
  }
  li.nav-item {
    margin-left: 0px;
    margin-right: -35px;
  }
}

@media screen and (max-width: 540px) {
  img.heading-img {
    display: block;
    margin: auto;
  }
  p.para-text {
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
  }
  .explore-buttons {
    display: block;
    margin: auto 145px;
  }
  .hero-heading {
    margin-top: -55px;
  }
  .container-fluid {
    margin: 36px auto;
  }
}

@media screen and (max-width: 480px) {
  .container-fluid {
    margin: 20px auto;
  }
  img.heading-img {
    display: block;
    margin: auto;
  }
  p.para-text {
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
  }
  .explore-buttons {
    display: block;
    margin: auto 85px;
  }
  .about-imgs {
    display: grid;
    justify-content: center;
    align-items: start;
  }
  img.about-img {
    width: 90%;
    margin-top: 70px;
  }
  img.wi {
    width: 50%;
    margin-top: 40px;
    margin-left: 5rem;
  }
  .about-area {
    margin-left: 0px;
    margin-top: 12.8rem;
    border-left: 0px;
    padding-left: 20px;
  }
  img.di {
    width: 70%;
    margin-top: 80px;
  }
  .drawing-desktop {
    display: grid;
    margin-top: 100px;
  }
  img.ddi {
    width: 40%;
    display: block;
    margin: auto;
  }
  img.vi {
    width: 40%;
    display: grid;
    margin-top: 90px;
    margin-left: 100px;
  }
  img.ei2 {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-top: 100px;
    margin-left: auto;
  }
  img.ei {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
  .vision-area {
    border-left: 0px solid;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: 30px;
  }
  img.idea-img {
    width: 100%;
    margin-left: 0px;
  }
  .available-img {
    margin-left: 0px;
    margin-top: 50px;
  }
  .available-content {
    margin-top: 50px;
    margin-left: 0px !important;
    position: relative;
  }
  img.partner {
    width: 100%;
    margin-left: 40px;
  }
}

@media screen and (max-width: 280px) {
  img.heading-img {
    display: block;
    margin: 35px auto;
  }
  .para-text {
    width: 84%;
  }
  .explore-buttons {
    display: block;
    margin: auto 34px;
  }
}
